$btn-color:#999;
$text-color:blue;

.button {
  background: $btn-color;
  color: #333;
  padding: 10px 30px;
  display: inline-block;
  border: none;
  outline: none;
  background-repeat: 2px;
  cursor: pointer;
}

.text {
  color: $text-color;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 0;
}